In [2]:
import pandas as pd

In [5]:
suicide_ages = pd.read_csv('data/age_suicide_rates.csv', sep = ',')
suicide_ages.head(10)

,RegionCode,RegionName,CountryCode,CountryName,Year,Sex,SuicideCount,CauseSpecificDeathPercentage,StdDeathRate,DeathRatePer100K,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
0,EU,Europe,ALB,Albania,1992,Male,33,0.331959,2.335802,2.076386,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
1,EU,Europe,ALB,Albania,1992,Female,14,0.191860,0.866420,0.874563,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
2,EU,Europe,ALB,Albania,1993,Male,46,0.477724,3.330938,2.937233,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
3,EU,Europe,ALB,Albania,1993,Female,27,0.385164,1.755077,1.686025,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
4,EU,Europe,ALB,Albania,1994,Male,37,0.419406,2.678796,2.332619,3207536.0,1.880951e+09,586.416135,1.216681e+09,2300.0,22.565053,50.086
5,EU,Europe,ALB,Albania,1994,Female,15,0.243427,0.988147,0.928333,3207536.0,1.880951e+09,586.416135,1.216681e+09,2300.0,22.565053,50.086
6,EU,Europe,ALB,Albania,1995,Male,57,0.612113,3.659538,3.545217,3187784.0,2.392765e+09,750.604449,2.035220e+09,2710.0,7.793219,53.186
7,EU,Europe,ALB,Albania,1995,Female,34,0.503928,2.113380,2.071781,3187784.0,2.392765e+09,750.604449,2.035220e+09,2710.0,7.793219,53.186
8,EU,Europe,ALB,Albania,1996,Male,53,0.539825,3.656300,3.263547,3168033.0,3.199641e+09,1009.977111,2.823912e+09,3050.0,12.725478,53.039
9,EU,Europe,ALB,Albania,1996,Female,39,0.562852,2.431447,2.350814,3168033.0,3.199641e+09,1009.977111,2.823912e+09,3050.0,12.725478,53.039

In [13]:
south_america_suicides = suicide_ages[suicide_ages['RegionCode'] == 'CSA']
south_america_suicides.head(10)

,RegionCode,RegionName,CountryCode,CountryName,Year,Sex,SuicideCount,CauseSpecificDeathPercentage,StdDeathRate,DeathRatePer100K,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
180,CSA,Central and South America,ARG,Argentina,1991,Male,1459,1.031992,9.805622,9.011736,33105763.0,1.900000e+11,5730.723810,1.280000e+11,7740.0,NaN,56.747
181,CSA,Central and South America,ARG,Argentina,1991,Female,502,0.445751,2.957554,2.992192,33105763.0,1.900000e+11,5730.723810,1.280000e+11,7740.0,NaN,56.747
182,CSA,Central and South America,ARG,Argentina,1992,Male,1699,1.176186,11.201349,10.359882,33568285.0,2.290000e+11,6815.329330,2.040000e+11,8540.0,NaN,56.867
183,CSA,Central and South America,ARG,Argentina,1992,Female,510,0.440784,2.963026,2.996263,33568285.0,2.290000e+11,6815.329330,2.040000e+11,8540.0,NaN,56.867
186,CSA,Central and South America,ARG,Argentina,1993,Male,1755,1.191891,11.455239,10.561155,34027240.0,2.370000e+11,6957.417499,2.420000e+11,9390.0,NaN,55.269
187,CSA,Central and South America,ARG,Argentina,1993,Female,494,0.421656,2.865160,2.863503,34027240.0,2.370000e+11,6957.417499,2.420000e+11,9390.0,NaN,55.269
188,CSA,Central and South America,ARG,Argentina,1994,Male,1746,1.232555,11.099846,10.370450,34488696.0,2.570000e+11,7464.474737,2.620000e+11,9990.0,NaN,54.689
189,CSA,Central and South America,ARG,Argentina,1994,Female,512,0.455816,2.934194,2.928727,34488696.0,2.570000e+11,7464.474737,2.620000e+11,9990.0,NaN,54.689
192,CSA,Central and South America,ARG,Argentina,1995,Male,1707,1.160380,10.730309,10.008326,34946110.0,2.580000e+11,7383.704510,2.560000e+11,9750.0,NaN,49.947
193,CSA,Central and South America,ARG,Argentina,1995,Female,508,0.426661,2.809295,2.868015,34946110.0,2.580000e+11,7383.704510,2.560000e+11,9750.0,NaN,49.947

In [14]:
print(south_america_suicides['SuicideCount'].sum())

748702